*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p, h3, button{

    margin-bottom: 20px;

}

.light-dark{
    padding: 10px 20px;
}

.dark{
    background-color: black;
    color: white;
}